.mainContainer {
  height: 100vh;

  display: grid;
  grid-template-columns: 45% 1fr;
  align-items: center;

  @media (max-width: 720px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  min-width: 320px;
}

section {
  height: 100%;
}

.apresentationAside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem 1rem;

  gap: 1.5rem;

  background: #1aebb6;

  @media (max-width: 720px) {
    width: 100%;

    padding: 4rem 1rem;
  }

  img {
    width: 100%;
    max-height: 500px;

    @media (max-width: 720px) {
      width: 50%;
      min-width: 300px;
    }
  }

  h1 {
    font: 700 1.35rem Poppins, sans-serif;
    color: white;
  }

  .title {
    transform: rotate(-2deg);
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-bottom: 5rem;
    font: 700 1.75rem Poppins, sans-serif;
    font-style: oblique;

    @media (max-width: 720px) {
      margin-bottom: 0;
    }
  }
}

.formAside {
  background: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 720px) {
    width: 100%;

    padding: 4rem 0;
  }

  .loginText {
    font: 500 1.75rem Poppins, sans-serif;
    margin-bottom: 2.5rem;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    gap: 1.5rem;

    label {
      font: 500 1.15rem Inter, sans-serif;
    }

    input {
      border: 0;
      border-bottom: 1px solid #ccc;
      width: 100%;

      padding: 0.5rem 0.5rem 0.5rem 0.35rem;
      border-radius: 0.15rem;

      &:focus {
        border: 0 none;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 0px 1px rgba(0, 0, 0, 0.35);
        outline: 0;
      }
    }
  }

  .usernameContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 0.5rem;
    width: 70%;

    max-width: 400px;

    @media (max-width: 720px) {
      width: 85%;
    }
  }

  .loginButton {
    width: 70%;
    margin-top: 2rem;
    max-width: 400px;
    height: 50px;

    @media (max-width: 720px) {
      width: 85%;
    }

    font: 500 1.15rem Poppins, sans-serif;
    color: white;

    border-radius: 0.35rem;
    border: 0;
    background: #1aebb6;
    transition: 0.3s;

    &:hover {
      filter: brightness(0.97);
      transform: scale(1.05);
    }
  }
}

.contactFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;

  button {
    border: 0;
    background: transparent;
    appearance: none;

    &:hover {
      transition: 0.3s;
      transform: translateY(-0.35rem);
    }
  }

  a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: black;
  }

  img {
    margin: 0 0.65rem 0.35rem 0;
    font-size: 2rem;
  }
}
