.contactFooter {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;

  bottom: 0;
  right: 0;
  z-index: 1;

  button {
    border: 0;
    background: transparent;
    appearance: none;

    &:hover {
      transition: 0.3s;
      transform: translateY(-0.35rem);
    }
  }

  a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: black;
  }

  img {
    margin: 0 0.65rem 0.35rem 0;
    font-size: 2rem;
  }
}
