.mainContainer {
  min-width: 320px;
}

.stepContainer {
  padding: 2rem 1.5rem;

  display: flex;
  align-items: center;

  gap: 0.9rem;

  strong {
    margin-bottom: 0.1rem;
    font: 500 1rem Inter, sans-serif;
  }

  .stepButton {
    border: 0;
    appearance: none;
    background: transparent;
    font: 500 1.15rem Poppins, sans-serif;
  }
}

.shirtDetailsContainer {
  padding: 2rem 1.5rem;

  display: grid;
  grid-template-columns: 38% 1fr;
  justify-items: space-around;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  @media (max-width: 762px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.photoContainer {
  img {
    width: 100%;
    min-width: 275px;
    max-width: 500px;
  }
}

.informationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 1.5rem;

  h1 {
    font: 500 1.35rem Poppins, sans-serif;
  }

  .brand,
  .size,
  .price,
  .tissue {
    font: 600 1rem Poppins, sans-serif;
  }
}

.containerCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;

  @media (max-width: 720px) {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  span {
    font: 500 1rem Poppins, sans-serif;
  }

  img {
    width: 100px;
  }
}

.totalPrice {
  text-align: center;
  margin: 2rem auto 0;
  font: 500 1.35rem Poppins, sans-serif;
}
